body{
    font-family: Arial, sans-serif;
}
.weekly-item{
    display: flex;   
    align-items: center;    
    padding: 12px 0; 
    border-bottom: 1px solid #eee;
}
.weekly-item .number{
    font-size: 20px;
    padding: 0 8px;
}
.weekly-item .info{
    flex: auto; 
    /* flex-grow: 1; */
}
.song-title{
    font-size: 14px;
    margin-bottom: 8px;
}
.single{
    font-size:13px;
    color: #999;
}
.view-count{
    font-size: 13px;
    color: #999;

}